@keyframes transitionIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.contacts {
  animation: transitionIn 1s;
}

.contacts h1,
.contacts ul,
.contactWrap {
  z-index: 2;
}

.contact-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mobile-bg1 {
  z-index: 1;
}

.pageTitle {
  position: absolute;
  top: 0;
}

.contactWrap {
position: absolute;
left: 70%;
top: 52%;
transform: translate(-50%, -50%);
}

.contacts ul {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contacts ul li a {
  font-size: 30px;
}

.contacts ul li a:hover {
  color:red;
  font-size: 32px;
  transition: all 0.3s ease-in-out;
}

.contacts ul li:active {
  transform: translateY(4px)
}

.contacts ul li {
  margin: 10px;
  text-align: center;
}

@media (max-width: 1050px) {
.contacts ul li a {
  font-size: 25px;
}
}

@media (max-width: 910px) {
  .contacts ul {
    width: 100vw;
  }

  .contacts ul li a {
    font-size: 22px;

  }

  .contacts ul li a:hover {
    font-size: 24px;
  }

}

@media (max-width: 870px) {
  .contactWrap {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }
  
    .contacts ul {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
    }
}

@media (max-width: 500px) {


  .contacts ul {
    width: 100vw;
  }

  .contacts ul li {
    margin-bottom: 15px;
  }

  .contacts ul li a {
    font-size: 20px;
  }

  .contacts ul li a:hover {
    font-size: 20px;
    color: white;
  }

  .contacts ul li a:active {
    font-size: 20px;
    color: red;
  }

}