:root {
  --background-image: linear-gradient(120deg, rgba(0,0,0,1),rgba(0,0,0,0.9));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgVid,
.mobile-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

html {
  background: #111111;
}

svg * {
  transform-origin: 70%;
}

.gooeyBg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

@-webkit-keyframes blob_one {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}
@keyframes blob_one {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}
@-webkit-keyframes blob_two {
  to {
    transform: rotate(-1turn) translate(12.5%, -12.5%);
  }
}
@keyframes blob_two {
  to {
    transform: rotate(-1turn) translate(12.5%, -12.5%);
  }
}
@-webkit-keyframes blob_three {
  to {
    transform: rotate(-1turn) translate(-12.5%, 12.5%);
  }
}
@keyframes blob_three {
  to {
    transform: rotate(-1turn) translate(-12.5%, 12.5%);
  }
}
@-webkit-keyframes blob_four {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}
@keyframes blob_four {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}


/* .testVid {
  z-index: 10000000;
  height: 400px;
  width: auto;
  border-radius: 20px;
} */

button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 96px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  text-shadow:
  -2px -2px 3px black,
  2px 2px 3px black,
  -2px -2px 3px black,
  2px 2px 3px black;
  transition: all 0.3s ease-out;
}

button:hover {
  color: red;
  transition: all 0.3s ease-out;
  font-size: 100px;
}

.home-wrapper {
  margin-top: 250px;
  border: none;
  background: none;
}

.home-title {
  text-shadow:
  -2px -2px 2px black,
  2px 2px 2px black,
  -2px -2px 2px black,
  2px 2px 2px black;
}

.contacts {
  background-attachment: relative;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pageTitle {
  position: absolute;
  top: 0;
}

#projects-page {
  background-attachment: absolute;
  overflow: auto;
}

#project-desc {
  font-family: 'Open Sans Condensed', sans-serif;
}

.pdf {
  margin: 30px 0;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.home-logo {
  max-width: 50%;
  margin-bottom: 20px;
}

#edit-img:hover {
  -webkit-filter: invert(100%) !important;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


#edit-img {
  animation: heart-pulse 0.9s infinite ease-out;
}


@keyframes heart-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow: auto;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: white;
}

.icons {
  width: 50px;
}

.icons1 {
  width: 48px;
}

.icons1:hover,
.icons:hover,
.home-title:hover {
  -webkit-filter: invert(100%) !important;
}

.icons1:active,
.icons:active {
  transform: translateY(4px)
}

button:active {
  transform: translateY(4px)
}

.menu-btn {
  position: fixed;
  right: 80px;
  margin-top: 50px;
  z-index: 9999999;
}

.menu-btn button {
  background-color: transparent;
  font-size: 36px;
  color: white;
  border: none;
  cursor: pointer;
}

.header {
  position: absolute;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 200px;
  transition: all 0.5s ease-in-out;
}

.header.open {
  height: 100vh;
  background-color: rgba(248, 4, 4, 0.8);
  z-index: 99999;
}

.header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 99999;
}

.header nav ul li {
  margin: 20px 0;
}

.homepage .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.homepage .overlay h1 {
  text-transform: uppercase;
  font-size: 96px;
}

.homepage .overlay p {
  font-size: 36px;
} 

.homepage .overlay ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.homepage .overlay ul li {
  margin: 0 20px;
}

.homepage .overlay ul li a {
  font-size: 46px;
}

.projects h1 {
  padding: 50px 80px;
  color: white;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: auto;
  gap: 40px;
  color: white;
  padding-bottom: 20px;
}

.projects .cards h4 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.projects .cards h4 p {
  font-size: 18px;
  margin-bottom: 30px;
}

.github {
  margin-right: 20px;
  font-size: 36px;
}

.launch {
  font-size: 36px;
}

.contacts {
  background-image: var(--background-image);
  height: 100vh;
}

.contacts h1 {
  padding: 50px 80px;
  color: white;
}

.contacts ul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin-bottom: -30vh; */
}

.contacts ul li a {
  font-size: 30px;
}

.contacts ul li a:hover {
  color:red;
  font-size: 32px;
  transition: all 0.3s ease-in-out;
}

.contacts ul li:active {
  transform: translateY(4px)
}

.contacts ul li {
  margin: 10px;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin-top: -100px;

}

.sliderVid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin-top: -100px;
}

.art-image {
  max-height: 70vh;
  border-radius: 10px;
  margin: 0 auto;
}

.art-container {
  margin: 50px 45px 0 45px;
}

.art-wrapper {
  margin-left: -45px;
}

.right-arrow {
  position: absolute;
  right: 32px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.3);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  left: 32px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.3);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover,
.left-arrow:hover {
  color: rgb(255, 255, 255);
}

.slide {
  opacity: 0;
  transition-duration:  1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.bio {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 725px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px;
  color: black;
  background-color: white;
  border: black solid 2px;
  border-radius: 10px;
}

#about-header {
  line-height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.aboutln1 {
  margin-left: -5px;
}

#about-img {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-img:hover {
  -webkit-filter: invert(100%) !important;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.centering-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.imgButtWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes transitionIn {
  0% {
      opacity: 0;
      transform: rotateX(-10deg);
  }

  30% {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  100% {
      opacity: 1;
      transform: rotateX(0);
  }
}

.imgInfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 120px; */
  color: white !important;
  background-color: transparent !important;
  box-shadow: none !important;
  text-shadow: none;
  font-size: 20px !important;
  line-height: 18px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  margin: 10px !important;
  border: 2px solid transparent !important;
  animation: transitionIn 1s;
}

.skillsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  color: black !important;
  background-color: white !important;
  text-shadow: none;
  font-size: 20px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  margin: 15px !important;
  border: 2px solid white !important;
}

.skillsButton:hover,
.imgInfoButton:hover {
  font-size: 20px;
  background-color: black !important;
  color: red !important;
  border: 2px solid red !important;
}

.centerModalDiv {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modalDiv {
  min-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skillExpWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eduArtOtherWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eduSplitWrap {
  display: flex;
  flex-direction: row;
}

#modal-modal-title {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: -10px;
}

#popupBreak {
  width: 100%;
  border-bottom: 2px solid black;
  margin-top: 5px;

}

#modal-subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  margin: 0px 0 0 8px;
}

#modal-modal-description {
  margin-top: -6px;
  line-height: 18px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.modalUl {
  line-height: 18px;
  font-size: 20px !important;
  margin-left: 30px;
  margin-bottom: -5px;
  width: 100%;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: circle;
}

.closeButton {
  font-size: 30px;
  margin: 10px 0 0 300px;
}

.closeButton:hover {
  font-size: 30px;
}

.company {
  margin-left: 15px;
}

.eduDeets {
  margin-left: 15px;
  font-size: 22px;
  line-height: 22px;
}

.jobTitle {
  padding-top: 5px;
}

.jobDetails {
  line-height: 20px;
  font-size: 18px !important;
  margin-left: 10px;
  width: 100%;
  list-style-type: circle;
}

@media (max-width: 1150px) {
  button {
    font-size: 84px;
  }

  button:hover {
    color: red;
    transition: all 0.3s ease-out;
    font-size: 86px;
  }

  .projects .cards {
    padding: 0 20px 20px;
  }
  .art-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 992px) {
  button {
    font-size: 64px;
  }

  button:hover {
    color: red;
    transition: all 0.3s ease-out;
    font-size: 66px;
  }

  #home-logo {
    max-width: 20%;
  }
}

@media (max-width: 910px) {
  .contacts ul {
    width: 100vw;
  }

  .contacts ul li a {
    font-size: 22px;

  }

  .contacts ul li a:hover {
    font-size: 24px;
  }

  #home-logo {
    max-width: 20%;
  }
}

@media (max-width: 768px) {

  button {
    font-size: 44px;
  }

  button:hover {
    color: red;
    transition: all 0.3s ease-out;
    font-size: 46px;
  }

  .projects .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  #home-logo {
    max-width: 20%;
  }

  .art-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .modalDiv {
    flex-direction: column;
  }

}

@media (max-width: 640px) {
  .bio {
    width: 500px;
  }
  #about-header {
    font-size: 16px;
    line-height: 18px;
  }
  .aboutln1 {
    margin-left: -4px;
  }
}

@media (max-width: 500px) {

  .menu-btn {
    right: 30px;
  }

  button {
    font-size: 36px;
  }

  button:hover {
    font-size: 36px;
    color: white;
  }

  button:active {
    color: red;
    transition: all 0.3s ease-out;
    font-size: 38px;
  }

  .contacts ul {
    width: 100vw;
  }

  .contacts ul li {
    margin-bottom: 20px;
  }

  .contacts ul li a {
    font-size: 22px;
  }

  .contacts ul li a:hover {
    font-size: 22px;
    color: white;
  }

  .contacts ul li a:active {
    font-size: 22px;
    color: red;
  }

  .contacts h1, .projects h1 {
    padding: 50px 30px;
  }

  .projects .cards {
    grid-template-columns: 1fr;
  }

  #home-logo {
    max-width: 30%;
  }

  #about-header {
    width: 345px;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 14px;
  }

  .aboutln1 {
    margin-left: -3px;
  }

  .bio {
    width: 340px;
    font-size: 21px;
    line-height: 22px;
  }

  .eduSplitWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .art-wrapper {
    margin-left: 0;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64vh;
  }

  .art-container {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 30px 0 0 0;
    padding: 0;
  }

  .right-arrow {
    position: absolute;
    bottom: 5%;
    right: 10px;
  }

  .left-arrow {
    position: absolute;
    bottom: 5%;
    left: 10px;
  }

  .imgInfoButton {
    position: absolute;
    /* bottom: -90px; */
  }

  .art-image {
    margin: 0;
    padding: 0;
    max-height: 56vh;
    max-width: 92vw;
    border-radius: 0px;
  }

  .header {
    width: 50vw;
  }

  .home-logo {
    margin-bottom: 10px;
  }

  .mobile-bg {
    height: 100vh;
  }

  .home-wrapper {
    margin-top: 100px;
  }

  .homepage {
    height: 100vh;
  }

  .overlay {
    max-height: 50vh;
    width: 100vw;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    top: 0;
  }

  #edit-img {
    animation: none;
  }

  .homepage .overlay ul {
    margin-top: 4px;
  }

  .home-logo {
    margin-top: 4px;
    width: 46%;
  }

  .art-wrapper {
    position: fixed;
    left: 50%;
    bottom: 0;
    top: 20%;
  }

  .page-title {
    position: fixed;
  }

  .homepage .overlay h1 {
    font-size: 30px;
    text-shadow:
    -2px -2px 3px black,
    2px 2px 3px black,
    -2px -2px 3px black,
    2px 2px 3px black;
  }

  .icons:hover,
  .homepage .overlay p:hover {
    -webkit-filter: invert(0%) !important;
  }

  #edit-img:hover {
    -webkit-filter: invert(0%) !important;
    animation: none;
  }

  #edit-img:active {
    -webkit-filter: invert(100%) !important;
  }

  .right-arrow:hover,
  .left-arrow:hover {
    color: rgba(255, 255, 255, 0.3);
  }

  .right-arrow:active,
  .left-arrow:active {
    color: rgb(255, 255, 255);
    transform: translateY(2px);
    transition: all 0.9s ease-in-out;
  }

  #about-img  {
    margin-top: -15px;
  }

  .slider {
    margin-top: -30px;
    height: 80vh;
  }

  .skillsButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    color: black !important;
    background-color: white !important;
    text-shadow: none;
    font-size: 20px !important;
    font-family: 'Open Sans Condensed', sans-serif !important;
    margin: 15px !important;
    border: 2px solid white !important;
  }

  .imgInfoButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 120px; */
    color: white !important;
    background-color: transparent !important;
    box-shadow: none !important;
    text-shadow: none;
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: 'Open Sans Condensed', sans-serif !important;
    margin: 10px !important;
    border: 2px solid transparent !important;
    animation: transitionIn 1s;
  }

  .skillsButton:active,
  .imgInfoButton:active {
    font-size: 20px;
    background-color: black !important;
    color: red !important;
    border: 2px solid red !important;
  }

}